/* ======皮肤：大紫薯====== */

/*整体*/
body .FigmaExApp .ExBar{
	box-sizing: border-box;
	box-shadow: -20px 20px 15px rgba(0, 0, 0, 0.07);
	border-radius: 16px;
	border: 3px solid #fff;	
	padding-bottom: 24px;
}
/*滚动条背景颜色+搜索为空背景色*/
body .FigmaExApp .ExBar {
   background: #A368ED;
}
/*整体鼠标经过*/
body .FigmaExApp .ExBar:hover{
}
/*顶部颜色*/
body .FigmaExApp .ExBar .header {
	background: #A368ED;
	border-radius: 8px 8px 0px 0px;
}
/* 输入框-输入状态 */
body .FigmaExApp .ExBar .header .find-input input{    
   color: #5000B8;   
}
/* 搜索为空提示语 */
body .FigmaExApp .ExBar .action-list .empty-found {
    color: #5B00D0;
} 
/*搜索默认文字*/
body .FigmaExApp .ExBar .header .find-input input::placeholder {
    color: #fff;
    opacity: 1; 
}
/*插件标题字体颜色*/
body .FigmaExApp .ActionItem .action-info {
    font-size: 12px;
    font-weight: bold;
    color: #F24E1E;   
}
/*插件列表备注文字颜色*/
body .FigmaExApp .ActionItem .action-info .note-name {
    font-size: 12px;
    color: #9A4DFF;
}
/*列表-背景色*/
body .FigmaExApp .ActionItem {	
	background: rgba(255, 255, 255, 0.8);
	border-radius: 16px;
	border: 3px solid #FFFFFF;
	margin: 2px 2px;
	height: 36px;
	padding: 2px 4px;
}
/*列表-外层*/
body .FigmaExApp .ExBar .action-list {
    width: 230px;
    padding-left: 2px;
}
/* 列表-hover */
body .FigmaExApp .ActionItem:hover {
    background: #FCE309;
	/* background: linear-gradient(90.13deg, #83FFB4 -1.25%, #FFEF63 51.96%); */
	border-radius: 16px;
}
/* 列表-拖拽r */
body .FigmaExApp.expanded .ExBar.expanded .ActionItem{
	border: 3px solid #fff;
}
/*.logo*/
body .FigmaExApp .ExBar .header .logo-but {
    right: 7px;
	border-radius: 12px;
	box-shadow: 0px 0px 0px 2px #7517EE;
} 
/*滚动轴颜色*/
body .FigmaExApp .ExBar .action-list::-webkit-scrollbar-thumb {
    background: #5400BD;
	border-radius: 16px;
}
/*滚动条背景颜色+搜索为空背景色*/
body .FigmaExApp .ExBar {
   background: #A368ED;
}
/*底部颜色*/
body .FigmaExApp .ExBar .reseize-hand {
	backdrop-filter: blur(2px);
	background: rgb(255 255 255 / 60%);
    height: 24px;
}
/*底部拖动小点颜色*/
body .FigmaExApp .ExBar .reseize-hand .dot {
	width: 16px;
	height: 16px;
	background-color: #fff;
	border: 4px solid #7517EE;
	margin: 0 auto;
	box-sizing: border-box;
}
/*底部拖动小点经过颜色*/
body .FigmaExApp .ExBar .reseize-hand:hover .dot {
	background-color: #fdff1f;
	transition: all .3s ease;
}
/*插件标题字体颜色*/
body .FigmaExApp .ActionItem .action-info {
    font-size: 12px;
    font-weight: bold;
    color: #F24E1E;   
}
/*插件备注文字颜色*/
body .FigmaExApp .ActionItem .action-info .note-name {
    font-size: 12px;
    color: #9A4DFF;
}
/*搜索结果，列表大小间距*/
body .FigmaExApp .ExBar .markt-result {
    padding: 4px 10px;
	color: #ffd449;
}
/*搜索结果，漏出提示文字*/
body .FigmaExApp .ExBar .markt-result .goto-markt {
    padding-bottom: 24px;
}	
/*勾选【图标描边】后颜色、描边*/
body .FigmaExApp .ActionItem.IconBorder .main-icon {
    box-sizing: border-box;
    background-size: 100%;
	border: 2px solid #7517EE;
}
/*收藏按钮颜色*/
body .FigmaExApp .ActionItem .buttons .star-but.isStar {
    -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+PHBhdGggZmlsbD0icmdiYSg0NCw2MCwxMDMsMSkiIGQ9Ik0xMiAxOC4yNmwtNy4wNTMgMy45NDggMS41NzUtNy45MjhMLjU4NyA4Ljc5Mmw4LjAyNy0uOTUyTDEyIC41bDMuMzg2IDcuMzQgOC4wMjcuOTUyLTUuOTM1IDUuNDg4IDEuNTc1IDcuOTI4eiIvPjwvc3ZnPgo=);
    width: 22px;
    height: 22px;
    background: linear-gradient(180deg, #bc86ff 0%, #832bf2 100%);
}
/*收藏与非收藏分割线*/
body .FigmaExApp .ExBar .top-list {
    padding-bottom: 12px;
    margin-bottom: 12px;
	border-bottom: 2px solid #5400BD;
}
/*插件名字加粗*/
body .FigmaExApp .ActionItem .action-info .name {
    font-weight: 800;
}
/*===========勾选紧凑布局后大小-开始====================*/
body .FigmaExApp.compact-ui .ExBar .ActionItem {
    padding: 2px 1px;
    height: 24px;
	border-radius: 12px;
}
/*.logo位置*/
body .FigmaExApp.compact-ui .ExBar .header .logo-but {
    right: 4px;
    width: 27px;
    height: 27px;
}
/*插件图标*/
body .FigmaExApp.compact-ui .ExBar .ActionItem .main-icon {
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
}
body .FigmaExApp.compact-ui .ExBar .reseize-hand .dot{
	    margin-right: auto;
}
/* 最小化大小 */
body .FigmaExApp .ExBar.mini:not(.expanded):not(.focus) {
    height: 58px;
    min-height: 58px;
    padding-bottom: 0;
}
/*透明-搜索默认文字*/
body .FigmaExApp ExBar.glass .header .find-input input::placeholder {
    color: #5000B8;
    opacity: 1; 
}
/*==============字体选择器-开始=================*/
body .figmaex-localfont-but {
    margin-left: auto;
    -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMSAwQzAuNDQ3NzE1IDAgMCAwLjQ0NzcxNSAwIDFWMTFDMCAxMS41NTIzIDAuNDQ3NzE1IDEyIDEgMTJIMTFDMTEuNTUyMyAxMiAxMiAxMS41NTIzIDEyIDExVjFDMTIgMC40NDc3MTUgMTEuNTUyMyAwIDExIDBIMVpNMyA4LjI2OTE3VjlINi4zNTY1NlY4LjIzMzA4TDUuMjYyMjkgOC4yMDYwMlY2LjQzNzU5SDguMjg2ODlWNS41MTcyOUg1LjI2MjI5VjMuOTIwM0g3LjM4OTM0QzcuNTQ1MDggMy45MjAzIDcuNjQzNDQgMy45NDEzNSA3LjY4NDQzIDMuOTgzNDZDNy43MjU0MSA0LjAyNTU2IDcuNzQ1OSA0LjA5Nzc0IDcuNzQ1OSA0LjJWNC41NjA5TDkgNC40OTc3NFYzSDMuMDYxNDhWMy43NjY5MkwzLjc2MjMgMy43OTM5OFY3Ljk4OTQ3QzMuNzYyMyA4LjEzOTg1IDMuNjQzNDQgOC4yMjQwNiAzLjQwNTc0IDguMjQyMTFMMyA4LjI2OTE3WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg==);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 60% 60%;
    background: #A368ED;
	border-radius: 40%;
	border: 6px solid #fff;  
}
body .figmaex-localfont-but:hover {
	background: #9818ed;
	border: 6px solid #fff;
}
/*==============字体选择器-结束=================*/
